{% extends 'base.html.j2' %}

{% block content %}
		<div class='row span12'>
				{%- for region, servers in status.iteritems() %}
<pre>{{region}}:{
	{%- for server in servers %}
	[{{server.url}}, {% if server.status == 1 %}UP{% else %}DOWN{% endif %}, {{server.last_updated|naturaltime}}, {{server.metadata}}]
	{%- endfor %}
}</pre>
				{% endfor %}
				queue length:{{queue_len}}<br>
				needed games:{{unfetched_games}}
		</div>
{%- endblock %}
