{% extends 'base.html.j2' %}

{% block post_scripts %}
		<script src="{{STATIC_URL}}js/game.js" type="text/javascript"></script>
{%- endblock %}

{% block content %}
			<table class='table table-bordered'>
				<thead>
					<tr><td>ID</td><td></td><td></td><!--<td>Players</td>!--></tr>
				</thead>{% for game in games %}
				{% if game.fetched %}<tr class='good'>{% else %}<tr class='bad'>{% endif %}
					<td style='font-size:x-small;'><a href='{{game.get_absolute_url()}}'>{{game.game_id}}</a></td>
					<td style='font-size:x-small;'>{{game.time|naturaltime}}</td>
					<!--<td>/10</td>!-->
					<td style='font-size:x-small;overflow-x:scroll;'>{% for player in players if player|is_in_game(game) %}
						<a {% if player.summoner.update_automatically %}style='color:#a523b9;' {% endif %}href='{{player.summoner.get_absolute_url()}}'>{{player.summoner.name}}</a>
					{% endfor %}</td>
				</tr>{% endfor %}
			</table>
{%- endblock %}