{% extends 'base.html.j2' %}

{% block extra_css %}
		<link href="{{STATIC_URL}}css/morris.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block post_scripts %}
		{%- if debug %}
		<script src='{{STATIC_URL}}debug/items.js' type='text/javascript'></script>
		<script src='{{STATIC_URL}}debug/core.js' type='text/javascript'></script>
		<script src='{{STATIC_URL}}debug/graph.js' type='text/javascript'></script>
		<script src="{{STATIC_URL}}debug/player.js" type="text/javascript"></script>
		{%- else %}
		<script src='{{STATIC_URL}}js/main.js' type='text/javascript'></script>
		{%- endif %}
		<script src='{{STATIC_URL}}js/morris.js' type='text/javascript'></script>
		<script type="text/javascript">{% if not generating %}
			var AJAX_BASE="{{AJAX_BASE}}";
			var champion_id={{champion_id}};
			var chart={'chart_options':{'ymin':0, 'ymax':100, 'smooth':true, 'labels':['Win %',], 'pointSize':0}, 'data_options':{'y':window.champion_id, 'data_parse':'chistorywr'}};
			var chart_data={{stats.history_toJSON()|safe}};
		{% endif %}</script>
{%- endblock %}

{% block content %}
			<div class='summoner-header row span12' style='background-image:url({{STATIC_URL}}img/champion-backgrounds/{{champion_id}}.png)'>
				{#- <div class='pull-left sprite sprite-champions-{{champion_id}}'></div> #}
				<div class='pull-left'>{{sprites.champion(champion_id, size='large')}}</div>
				<div class='info-block pull-right'>
					<div>
						<b>{% if not generating %}{{stats.display_count}}{% else %}?{% endif %}</b>
						<small>GAMES</small>
					</div>
				</div>
				<div class='name-block'>
					<b>{{champions|upper}}</b>
				</div>
				<div class='bottom-right'>
					<form method='get' id='stat-filter' class='form-inline'>{{form.game_map.as_widget()}} {{form.game_mode.as_widget()}}</form>
				</div>
				<ul class='mynav mynav-tabs'>
					<li class='active'><a href='{{ url("view_champion", champion_id=champion_id, champion_slug=champion|slugify) }}'>OVERVIEW</a></li>
					<li><a href='{{ url("view_champion_items", champion_id=champion_id, champion_slug=champion|slugify) }}'>ITEMS</a></li>
				</ul>
			</div>{% if not generating %}
			<div class='row span12'>
				<div id='elo-graph' style='height:450px;margin:6px 0 0 0;' class='span9'></div>
				<div class='best-stats span3 pull-right'>
					<div class='header'>
						<strong>Best Items</strong>
					</div>
					{% for item in stats.items_best_ratio()[:6] %}<div class='item'>
						{{sprites.item(item.0, size='large')}}
						<div class='vert-bar'>
							<div class='red' style='height:{{item.1.lost|get_percent(item.1.count)}};'></div>
							<div class='green' style='height:{{item.1.won|get_percent(item.1.count)}};'></div>
						</div>
						<div class='stats pull-right'>
							<small>GAMES:</small><b>{{item.1.count}}</b><br>
							<small>WINS:</small><b>{{item.1.won}}</b><br>
							<small>LOSSES:</small><b>{{item.1.lost}}</b>
						</div>
					</div>{% endfor %}
				</div>
			</div>{% else %}
			STATS ARE BEING COMPILED
			{% endif %}
{%- endblock %}
