<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
		{%- if debug %}
		<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css">
		<script src="{{STATIC_URL}}js/less.js" type="text/javascript"></script>
		{% else%}
		<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
		{% endif -%}
		<link href="{{STATIC_URL}}css/sprites.css" rel="stylesheet" type="text/css">
		<script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/items.js" type="text/javascript"></script>
		<script src='{{STATIC_URL}}js/flotr2.min.js' type='text/javascript'></script>
		<script src="{{STATIC_URL}}js/player.js" type="text/javascript"></script>
		<script type="text/javascript">
			var AJAX_BASE="{{AJAX_BASE}}";
			var account_id={{summoner.account_id}};
			var region={{summoner.region}};
			{%- if stats.index.elo|length>0 %}
			var bgchart='rating';
			var data={{stats.elo_toJSON()|safe}};
			{% endif %}
		</script>
	</head>
	<body>
		<div class='container'>
			<div class='summoner-header row span12' style='background-image:url({{STATIC_URL}}img/champion-backgrounds/{{stats.by_count()|first|first}}.png)'>
				<div class='pull-left sprite sprite-profile-{{summoner.profile_icon}}'></div>
				<div class='info-block pull-right'>
					<div>
						<b>{{summoner.level}}</b>
						<small>LEVEL</small>
					</div>
					<div>
						<b>{% if rating.current_rating>1200 %}{{rating.current_rating}}{% else %}?{% endif %}</b>
						<small>ELO</small>
					</div>
					<div>
						<b>{{stats.display_count}}</b>
						<small>GAMES</small>
					</div>
				</div>
				<div class='name-block'>
					<b>{{summoner.name}}</b>
					{#- <span id='spectate-info'>{{spectate|safe}}</span> #}
				</div>
				<div class='bottom-right' id='last-updated-block'>
					{%- if not update_in_queue and summoner.time_updated|timediff > 60*30 %}
					<a href='javascript:void(0);' id='force-update'>
						<small id='last-updated'>LAST UPDATED:{% if not update_in_queue %}{{summoner.time_updated|naturaltime|upper}}{% else %}{{update_in_queue}}{% endif %}</small>
					</a>
					{%- else %}
					<small id='last-updated'>LAST UPDATED:{% if not update_in_queue %}{{summoner.time_updated|naturaltime|upper}}{% else %}{{update_in_queue}}{% endif %}</small>
					{%- endif %}
				</div>
				<ul class='mynav mynav-tabs'>
					<li class='active'><a href='{{summoner.get_absolute_url()}}'>OVERVIEW</a></li>
					<li><a href='{{summoner.get_games_url()}}'>GAMES</a></li>
					<li><a href='{{summoner.get_champions_url()}}'>CHAMPIONS</a></li>
				</ul>
			</div>
			<div class='row span12'>
				<div class='span9' id='games'>
					<table class='game-list table table-condensed'>
						<thead>
							<tr>
								<th style='width:40px;'></th>
								<th style='width:50px'>K/D/A</th>
								<th style='width:50px'>CS</th>
								<th style='width:50px'>Gold</th>
								<th style='width:85px;'>Spells</th>
								<th style='width:215px;'>Items</th>
								<th style='width:50px;'>Date</th>
								<th style='width:10px;'></th>
							</tr>
						</thead>
						<tbody>{% for player in games[:10] %}
							<tr class='{% if player.won %}good{% else %}bad{% endif %}'>
								<td class='champion'><div class='sprite sprite-champions-small-{{player.champion_id}}'></div><small>{{player.champion_level}}</small></td>
								<td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
								<td>{{player.minion_kills+player.neutral_minions_killed}}</td>
								<td>{{player.gold|to_k_format}}</td>
								<td><div class='sprite sprite-summoner-small-{{player.summoner_spell1}}' style='margin-right:4px;'></div><div class='sprite sprite-summoner-small-{{player.summoner_spell2}}'></div></td>
								<td>{% for item in player.get_items %}
									<div class='item sprite sprite-items-small-{{item}}' data-item="_{{item}}"></div>{% endfor %}
								</td>
								<td>{{player.game.time|date('M d')}}
								<td><a href='{{player.game.get_absolute_url()}}'>&raquo;</a></td>
							</tr>{% endfor %}
						</tbody>
					</table>
				</div>
				<div class='best-stats span3 pull-right'>
					<div class='header'>
						<strong>Best Champions</strong>
					</div>
					{% for champion in stats.best_ratio()[:3] %}<div class='champion'>
						<div class='sprite sprite-champions-{{champion.0}}'></div><div class='vert-bar green'><div class='red' style='height:{{champion.1.lost|get_percent(champion.1.count)}};'></div></div>
						<div class='stats pull-right'>
							<small>GAMES:</small><b>{{champion.1.count}}</b><br>
							<small>WINS:</small><b>{{champion.1.won}}</b><br>
							<small>LOSSES:</small><b>{{champion.1.lost}}</b>
						</div>
					</div>{% endfor %}
				</div>
			</div>
			<div class='row span12'>
				<div id='elo-graph' style='width:100%;height:250px;'></div>
			</div>
		</div>
	</body>
</html>
