<!DOCTYPE html>{% load url from future %}{% load humanize %}{% load to_k_format %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
		{# <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css"> #}
		<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css">
		<script src="{{STATIC_URL}}js/less.js" type="text/javascript"></script>
		<link href="{{STATIC_URL}}css/sprites.css" rel="stylesheet" type="text/css">
		<script src="{{STATIC_URL}}js/jquery.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/underscore.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/items.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/game.js" type="text/javascript"></script>
		<script type="text/javascript">
			var game_pk={{game.pk}};
			var game_region={{game.region}};
		</script>
	</head>
	<body>
		<div class='container'>
			<div class='summoner-header row span12'>
				<!--<div class='pull-left sprite sprite-profile-{{summoner.profile_icon}}'></div>!-->
				<div class='info-block pull-right'>
					<!--<div>
						<h1>{% if game.blue_team_won %}BLUE{% else %}PURPLE{% endif %}</h1>
						<small>WINNER</small>
					</div>
					<div>
						<h1>?</h1>
						<small>ELO</small>
					</div>!-->
					{% if metadata.avg_elo %}<div>
						<h1>{{metadata.avg_elo|floatformat:'0'}}</h1>
						<small>AVG ELO</small>
					</div>{% endif %}
					<div>
						<h1>{{metadata.mode}}</h1>
						<small>MODE</small>
					</div>
					<div>
						<h1>{{metadata.map}}</h1>
						<small>MAP</small>
					</div>
					<div>
						<h1>{{game.time|date:'N d'|upper}}</h1>
						<small>{{game.time|naturaltime|upper}}</small>
					</div>
				</div>
				<div class='name-block'>
					<h1>SUMMARY</h1>
				</div>
				{# <span class='pull-right'>{{games.count}}</span> #}
				<ul class='mynav mynav-tabs'>
					<li class='active'><a href=''>OVERVIEW</a></li>
					<li><a href=''>GAMES</a></li>
					<li><a href=''>CHAMPIONS</a></li>
				</ul>
			</div>
			<div class='row span12'>
				<table class='game-list table table-condensed'>
					<thead>
						<tr><!--612!-->
							<th style='width:40px;'></th>
							<th style='width:100px;'>Summoner</th>
							<th style='width:50px'>K/D/A</th>
							<th style='width:50px'>Gold</th>
							<th style='width:50px'>CS</th>
							<th style='width:50px'>Dealt</th>
							<th style='width:50px'>Taken</th>
							<th style='width:85px;'>Spells</th>
							<th style='width:215px;'>Items</th>
							<th style='width:150px;'></th>
						</tr>
					</thead>{% comment %}{% for player in players %}
					<tr class='team_{% if player.blue_team %}blue{% else %}purple{% endif %}'>
						<td><div class='sprite sprite-champions-small-{{player.champion_id}}'></div></td>
						<td>{{player.champion_level}}</td>
						<td><a href='{% url "view_summoner" player.summoner.account_id player.summoner.name|slugify %}'>{{player.summoner.name}}</a></td>
						<td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
						<td>{{player.gold|to_k_format}}</td>
						<td>{{player.minion_kills}}</td>
						<td>{{player.damage_dealt|to_k_format}}</td>
						<td>{{player.damage_taken|to_k_format}}</td>
						<td><div class='sprite sprite-summoner-small-{{player.summoner_spell1}}' style='margin-right:4px;'></div><div class='sprite sprite-summoner-small-{{player.summoner_spell2}}'></div></td>
						<td>{% for item in player.get_items %}
							<div class='item sprite sprite-items-small-{{item}}' data-item="_{{item}}"></div>{% endfor %}
						</td>
					</tr>{% endfor %}{% endcomment %}
					{% regroup players by blue_team as teams %}{% for team in teams %}
					{% if forloop.counter0 == 0 %}<tr class='interlude win'><td colspan=11>WINNING TEAM</td></tr>{% else %}<tr class='interlude lose'><td colspan=11>LOSING TEAM</td></tr>{% endif %}{% for player in team.list %}
					<tr class='player {% if player.blue_team %}team_blue {% else %}team_purple {% endif %}{% if player.won %}won{% else %}lose{% endif %}'>
						<td class='champion'><div class='sprite sprite-champions-small-{{player.champion_id}}'></div><small>{{player.champion_level}}</small></td>
						<td><a href='{% url "view_summoner" player.summoner.get_region_display player.summoner.account_id player.summoner.name|slugify %}'>{{player.summoner.name}}</a></td>
						<td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
						<td>{{player.gold|to_k_format}}</td>
						<td>{{player.minion_kills|add:player.neutral_minions_killed}}</td>
						<td>{{player.damage_dealt|to_k_format}}</td>
						<td>{{player.damage_taken|to_k_format}}</td>
						<td><div class='sprite sprite-summoner-small-{{player.summoner_spell1}}' style='margin-right:4px;'></div><div class='sprite sprite-summoner-small-{{player.summoner_spell2}}'></div></td>
						<td>{% for item in player.get_items %}
							<div class='item sprite sprite-items-small-{{item}}' data-item="_{{item}}"></div>{% endfor %}
						</td>
						<td><i class='icon-chevron-down player_expand' data-player='{{player.pk}}'></i></td>
					</tr>{% endfor %}{% endfor %}
				</table>
			</div>
			{% for p in players %} {{p.summoner.name}}:{{p.rating}}{% endfor %}<br>
			{% for p in players %} {{p.summoner.name}}:{{p.won}}{% endfor %}<br>
			{{game.fetched}}
		</div>
	</body>
</html>
