<!DOCTYPE html>{% load url from future %}{% load humanize %}{% load get_percent to_k_format get_key %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
		<!--<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">!-->
		<link href="{{STATIC_URL}}less/main.less" rel="stylesheet/less" type="text/css">
		<script src="{{STATIC_URL}}js/less.js" type="text/javascript"></script>
		<link href="{{STATIC_URL}}css/sprites.css" rel="stylesheet" type="text/css">
		<script src="{{STATIC_URL}}js/jquery.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/items.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/player.js" type="text/javascript"></script>
	</head>
	<body>
		<div class='container'>
			<div class='summoner-header row span12' style='background-image:url({{STATIC_URL}}img/champion-backgrounds/{{champion}}.png)'>
				<div class='pull-left sprite sprite-profile-{{summoner.profile_icon}}'></div>
				<span class='info-block pull-right'>
					<div>
						<h1>{{games.count}}</h1>
						<small>GAMES</small>
					</div>
				</span>
				<div class='name-block'>
					<h1>{{champions|get_key:champion|upper}}</h1>
				</div>
				<div class='bottom-right'>
					<form method='get' id='stat-filter' class='form-inline'>{{form.game_map}} {{form.game_mode}}</form>
				</div>
			</div>
			<div class='row span12' id='games'>
				<table class='table table-condensed table-sorted'>
					<thead>
						<tr>
							<th style='width:32px;'></th>
							<th class='table-sort' data-column='name'><span>ITEM<i></i></span></th>
							<th class='table-sort active' data-column='total'><span>BOUGHT<i class='icon-arrow-down'></i></span></th>
							<th class='table-sort' data-column='won'><span>WON<i></i></span></th>
							<th class='table-sort' data-column='lost'><span>LOST<i></i></span></th>
							<th class='table-sort' data-column='percent'><span>WIN %<i></i></span></th>
						</tr>
					</thead>
					<tbody class='cbody'>{% for item in stats.items_most_used %}
						<tr class='sort'>
							<th><div class='item sprite sprite-items-small-{{item.0}}' data-item='_{{item.0}}'></div></th>
							<td class='name'>{{items|get_key:item.0|get_key:'name'}}</td>
							<td class='total'>{{item.1.count}}</td>
							<td class='won'>{{item.1.won}}</td>
							<td class='lost'>{{item.1.lost}}</td>
							<td class='percent'>{{item.1.won|get_percent:item.1.count}}</td>
						</tr>{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
