{% extends 'base.html.j2' %}

{% block post_scripts %}
		<script type="text/javascript">
			var AJAX_BASE="{{AJAX_BASE}}";
			var account_id={{summoner.account_id}};
			var region={{summoner.region}};
		</script>
{%- endblock %}

{% block content %}
			<div class='summoner-header row span12' style='background-image:url({{STATIC_URL}}img/champion-backgrounds/{{stats.by_count()|first|first}}.png)'>
				{#- <div class='pull-left sprite sprite-profile-{{summoner.profile_icon}}'></div> #}
				<div class='pull-left'>{{sprites.profile(summoner.profile_icon, size='large')}}</div>
				<div class='info-block pull-right'>
					<div>
						<b>{{summoner.level}}</b>
						<small>LEVEL</small>
					</div>
					<div>
						<b>{% if rating.current_rating>1200 %}{{rating.current_rating}}{% else %}?{% endif %}</b>
						<small>ELO</small>
					</div>
					<div>
						<b>{{stats.display_count}}</b>
						<small>GAMES</small>
					</div>
				</div>
				<div class='name-block'>
					<b>{{summoner.name}}</b>
					{#- <span id='spectate-info'>{{spectate|safe}}</span> #}
				</div>
				<div class='bottom-right' id='last-updated-block'>
					{%- if not update_in_queue and summoner.time_updated|timediff > 60*30 %}
					<a href='javascript:void(0);' id='force-update'>
						<small id='last-updated'>LAST UPDATED:{% if not update_in_queue %}{{summoner.time_updated|naturaltime|upper}}{% else %}{{update_in_queue}}{% endif %}</small>
					</a>
					{%- else %}
					<small id='last-updated'>LAST UPDATED:{% if not update_in_queue %}{{summoner.time_updated|naturaltime|upper}}{% else %}{{update_in_queue}}{% endif %}</small>
					{%- endif %}
				</div>
				<ul class='mynav mynav-tabs'>
					<li class='active'><a href='{{summoner.get_absolute_url()}}'>OVERVIEW</a></li>
					<li><a href='{{summoner.get_games_url()}}'>GAMES</a></li>
					<li><a href='{{summoner.get_champions_url()}}'>CHAMPIONS</a></li>
				</ul>
			</div>
			<div class='row span12'>{% set runes, masteries = summoner.get_runes()|rune_summary, summoner.get_masteries() %}
				<div class='tabbable tabs-left'>
					<ul class='span2 rune-nav rune-nav-tabs'>{% for page in runes %}
						<li{% if page.active %} class='active'{% endif %}><a href='#runetab{{loop.index0}}' data-toggle='tab'>{{page.name}}</a></li>
					{% endfor %}</ul>
					<div class='tab-content'>{% for page in runes %}
						<div class='tab-pane{% if page.active %} active{% endif %}' id='runetab{{loop.index0}}'>
							<div class='span5' style='margin-left:0;'>{% for stat, amount in page.stats.iteritems() %}
							<b>{{stat|rune_stat_str}}</b><br>
							{{amount}}<hr>
						{% endfor %}</div>
							<div class='span5' style='margin-left:0;'>{% for id, rune in page.runes.iteritems() %}
								<b>{{rune.count}}</b><small>x</small>{{rune.name}}<br>
							{% endfor %}</div>
					</div>
					{% endfor %}</div>
				</div>
			</div>
{%- endblock %}