@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "main/bars";

.box-shadow2(@shadow1, @shadow2) {
	-webkit-box-shadow: @shadow1, @shadow2;
	-moz-box-shadow: @shadow1, @shadow2;
	box-shadow: @shadow1, @shadow2;
}
.width-minmax(@min, @max) {
	min-width:@min;
	max-width:@max;
}
.height-minmax(@min, @max) {
	min-height:@min;
	max-height:@max;
}

@good:	#46A546;
@bad:	#9D261D;
@blue:	#3269b4;
@purple:#a523b9;

// body {
// 	background-image:url('../img/noise.png');
// 	background-repeat:both;
// }
.row {.center-block();}
.good {
	background-color:fade(@good, 25%);
}
.bad {
	background-color:fade(@bad, 25%);
}

#games {
	margin-left:0px;
}
.game-list {
	table-layout:fixed;
	width:100%;
	small {
		font-size:xx-small;
	}
	th {
		text-align:center;
	}
	tbody > tr {
		height:38px;
		&.player {
			.height-minmax(37px, 37px);
		}
		&.leaver {
			#gradient > .striped(fade(@bad, 50%));
			.background-size(40px 40px);
		}
		&.drop-stats {
			height:0px;
			.transition(height .3s ease);
			&:hover {
				.box-shadow(none);
			}
		}
		td {
			border:none;
			vertical-align:middle;
			text-align:center;
			padding:0px;
			.sprite {
				position:relative;
				top:2px;
			}
			&.champion {
				.box-sizing(border-box);
				// max-width:5px;
				text-align:left;
				vertical-align:bottom;
				div.sprite {
					margin-left:2px;
				}
				small {
					// text-align:right;
				}
			}
		}
	}
	tbody > tr:hover {
		// .box-shadow(0 0 1px 1px);
	}
}
.team_blue {
	background-color:fade(@blue, 25%);
	height:32px;
}
.team_purple {
	background-color:fade(@purple, 25%);
	height:32px;
}
.player_expand:hover {
	cursor: pointer;
}
.popover-content p {
	font-size: xx-small !important;
}

.sprite {
	display: inline-block;
	.ie7-inline-block();
	//.box-shadow2(0px 0px 2px, inset 0px 0px 3px 1px);
	.box-shadow(0px 0px 2px);
}

.best-stats {
	.header {
		height:26px;
		vertical-align:center;
		line-height:18px;
		padding-top:4px;
		margin-bottom:-4px;
		text-align:center;
	}
	.champion {
		text-align:left;
		height:130px;
		width:100%;
		.stats {
			width:80px;
			text-align:left;
			& > b {
				float:right;
			}
		}
	}
	.item {
		text-align:left;
		// height:70px;
		// width:100%;
		.vert-bar {
			height:64px;
		}
		.stats {
			width:80px;
			text-align:left;
			& > b {
				float:right;
			}
		}
	}
	small {
		font-size:x-small;
	}
}

.summoner-header {
	background-color:#1c5c88;
	height:165px;
	position:relative;
	a {
		color:#FFF;
	}
	.sprite {
		margin-right:10px;
		.box-shadow(none);
	}
	.name-block {
		color:#FFF;
		line-height:10px;
		b {
			display:block;
			margin:0px;
			font-size:30px;
			line-height:36px;
		}
		small {
			color:darken(#fff, 25%);
		}
	}
	.info-block {
		position: relative;
		div {
			display:inline-block;
			margin-left:20px;
			line-height:0px;
			b {
				display:block;
				margin:0px;
				font-size:30px;
				font-weight:700;
				line-height:36px;
				color:#FFF;
			}
			small {
				position: relative;
				color:darken(#fff, 25%);
				//right:1px;
			}
			text-align:right;
		}
	}
	.bottom-right {
		color:darken(#FFF, 25%);
		position:absolute;
		bottom:0px;
		right:0px;
		form {
			margin: 0px 2px 2px 0px;
			&>select {
				margin-bottom:0px;
			}
		}
	}
	.large-bottom-right {
		position:absolute;
		bottom:0px;
		right:0px;
		font-size:80px;
		line-height:65px;
		.red {color:@bad;}
		.green {color:@good;}
	}
	.mynav {
		position:absolute;
		bottom:0px;
		margin-left: 0;
		margin-bottom:0px;
		list-style: none;
		clear:left;
	}
	.mynav-tabs {
		.clearfix();
		& > li {
			.box-shadow(1px -1px 1px);
			float:left;
			background-color:#64727c;
			margin-right:2px;
			& .active > a, & > a{
				display:block;
				line-height:14px;
				padding:5px 12px 5px 12px;
				margin-right:2px;
				&:hover {
					text-decoration:none;
				}
			}
			&:hover{
				background-color:lighten(#64727c, 10%);
			}
		}
		& > .active {
			background-color:lighten(#64727c, 10%);
			& > a,  & > a:hover {
				cursor:default;
				color:#FFF;
			}
		}	
	}
}

.rune-nav {
	float:left;
	margin-left: 0px;
	margin-bottom:0px;
	list-style:none;
}
.rune-nav-tabs {
	// width:150px;
	& > li {
		.box-shadow(0px 0px 0px);
		background-color:#64727c;
		margin:0px 2px 1px 0px;
		// margin-right:2px;
		// margin-bottom:1px;
		& .active > a, & > a{
			color:#FFF;
			display:block;
			line-height:14px;
			padding:5px 12px 5px 12px;
			&:hover {
				text-decoration:none;
			}
		}
		&:hover{
			background-color:lighten(#64727c, 10%);
		}
	}
	& > .active {
		background-color:lighten(#64727c, 10%);
		& > a,  & > a:hover {
			cursor:default;
			color:#FFF;
			outline:0px none;
		}
	}
}

.interlude {
	color:#FFF;
	height:18px !important;
	&:hover {
		// border:solid 1px #000;
		// .box-sizing(border-box);
		// margin-bottom:-1px;
		// .border-radius(2px 2px 0px 0px);
	}
}
.interlude.win {
	background-color:@good;
	&>td:hover {
		// .box-shadow2(1px -1px #000, -1px -1px #000);
		background-color:@good;
	}
}
.interlude.lose {
	background-color:@bad;
	&>td:hover {
		// .box-shadow2(1px -1px #000, -1px -1px #000);
		background-color:@bad;
	}
}

.table-sort {
	span {
		color:#000;
		cursor:pointer;
		font-weight:bold;
		text-decoration:none;
	}
}
.table-sorted {
	table-layout:fixed;
	th {
		// text-align:center;
	}
	tbody > tr > td {
		vertical-align:middle;
		// text-align:center;
	}
}

.pagination>ul>li>a {
	width:13.65px;
}

.flotr-mouse-value {
	z-index:9000;
}
