<!DOCTYPE html>{% load url from future %}{% load humanize %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
		<link href="{{STATIC_URL}}css/sprites.css" rel="stylesheet" type="text/css">
		<script src="{{STATIC_URL}}js/jquery.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/items.js" type="text/javascript"></script>
	</head>
	<body>
		<div class='container'>
			<div class='sprite-profile-{{summoner.profile_icon}}'></div>
			<table class='table table-bordered table-condensed'>
				<thead>
					<tr><th>Date</th><th style='width:32px;'>Champion</th><th>Mode</th><th>K/D/A</th><th>Gold</th><th>Items</th>
				</thead>{% for player in games %}
					{% if player.team == player.game.blue_team and player.game.blue_team_won %}<tr class='good'>{% elif player.team == player.game.purple_team and not player.game.blue_team_won %}<tr class='good'>{% else %}<tr class='bad'>{% endif %}
						<td><a href='{% url 'view_game' player.game.game_id %}'>{{player.game.time_display|date:'N d'}}</a></td>
						<td><div class='sprite-champions-small-{{player.champion_id}}'></div></td>
						<td>{{player.game.get_game_mode_display}}</td>
						<td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
						<td>{{player.gold|intcomma}}</td>
						<td>{% for item in player.get_items %}
							<div class='item sprite-items-small-{{item}}' data-item="_{{item}}"></div>{% endfor %}
						</td>
					</tr>{% endfor %}
			</table>
		</div>
	</body>
</html>
