@good:	#46A546;
@bad:	#9D261D;

@blue:#3269b4;
@purple:#a523b9;

.good {
	background-color:fade(@good, 25%);
}
.bad {
	background-color:fade(@bad, 25%);
}

.team_blue {
	background-color:fade(@blue, 25%);
	height:32px;
}
.team_purple {
	background-color:fade(@purple, 25%);
	height:32px;
}
.item {
	display: inline-block;
}
.player_expand:hover {
	cursor: pointer;
}
.popover-content p {
	font-size: xx-small !important;
}