<!DOCTYPE html>{% load url from future %}{% load humanize %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>index</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css">
		<link href="{{STATIC_URL}}css/sprites.css" rel="stylesheet" type="text/css">
		<script src="{{STATIC_URL}}js/jquery.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/bootstrap.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/underscore.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/items.js" type="text/javascript"></script>
		<script src="{{STATIC_URL}}js/game.js" type="text/javascript"></script>
		<script type="text/javascript">
			var game_pk={{game.pk}};
		</script>
	</head>
	<body>
		<div class='container'>{% regroup players by team as playersb %}
			<table class='table table-bordered'>
				<thead>
					<tr><td>Champion</td><td>Summoner</td><td style='width:5%'>K/D/A</td><td style='width:5%'>Gold</td><td>Items</td><td style='width:1%'></td></tr>
				</thead>{% for team in playersb %}{% for player in team.list %}
				<tr class='team_{% if player.team.id == game.blue_team.id %}blue{% else %}purple{% endif %}'>
					<td><div class='champion sprite-champions-small-{{player.champion_id}}'></div></td>
					<td>
						<a href='{% url 'view_summoner' player.summoner.account_id player.summoner.summoner_name|slugify %}'>{{player.summoner.summoner_name}}</a></td>
					<td>{{player.kills}}/{{player.deaths}}/{{player.assists}}</td>
					<td>{{player.gold|intcomma}}</td>
					<td>{% for item in player.get_items %}
						<div class='item sprite-items-small-{{item}}' data-item="_{{item}}"></div>{% endfor %}
					</td>
					<td><i class='icon-chevron-down player_expand' data-player='{{player.pk}}'></i></td>
				</tr>{% endfor %}{% endfor %}
			</table>
		</div>
	</body>
</html>
